.accNav {
    margin: 150px 0;
    position: fixed;
    z-index: -1;
}

.vl2 {
    height: 450px;
    width: 1px;
    position: absolute;
    margin: 70px 200px;
    background-color: grey;
  }

  #accLinks button.accInfoBtn{
    margin-top: 80px;
}

#accLinks button{
    border: none;
    background-color: transparent;
    font-size: 19px;
    padding: 15px;
    margin-left: 15px;
    color: #202020;
    cursor: pointer;
}

.l2 {
    height: 1px;
    width: 140px;
    margin-left: 30px;
    background-color: grey;
    position: absolute;
}